
		<ion-header>
			<ion-toolbar color="crimson">
				<ng-container *ngIf="isLoggedInUser; then showLoggedUserHeader; else showDefaultHeader">

				</ng-container>
				<ng-template #showLoggedUserHeader>
					<ion-segment (ionChange)="segmentChanged($event)"  value="recent">
						<ion-segment-button value="recent" color="light">
						  Recent 
						</ion-segment-button>
						<ion-segment-button value="history">
						  History
						</ion-segment-button>
					  </ion-segment>
				</ng-template>
			  <ng-template #showDefaultHeader> 
				<ion-title class="header-title">
					My Order
					  </ion-title>
			  </ng-template>
			</ion-toolbar>
		  </ion-header>
	
		  <ion-content class="card-background-page">
			<ion-card *ngIf="!isLoggedInUser">
				<ion-card-header color="crimson">
					<span style="color:white">View Orders </span>  <ion-icon name="alert"></ion-icon>
				</ion-card-header>
				<ion-card-content>
					<ion-label><strong>Please login to view orders
						</strong> </ion-label>
				</ion-card-content>
			</ion-card>
	<div *ngIf="isLoggedInUser">

			<div *ngIf="orderSummaryToBeDisplayed | async as summarList; else loadingErrorTemplate">
				 
			
				<div>

				<ion-card *ngFor="let summary of summarList | sortBy :'desc'">
				
				
                <div *ngIf="summary != undefined">

			
					<ion-card-header class="card-header">
						<ion-card-title>
							{{summary.orderSummary.shopName}}
						</ion-card-title>
								<ion-card-subtitle>
									<ion-row>
										<ion-col>
										OrderDate::<strong>{{summary.orderSummary.creationTime.toDate() | date : 'medium'}}</strong>
										</ion-col>
										<ion-col>
											OrderID::<strong>{{summary.orderSummary.id}}</strong>
										</ion-col>
									</ion-row>
								
								</ion-card-subtitle>
							
					</ion-card-header>
					<ion-card-content class="card-content">
						<!-- Add card content here! -->
						<ion-grid>
							<ion-row>
								<ion-col col-6 style="text-align: left;">
									Order Total:<strong>{{summary.orderSummary.totalOrderValue+summary.orderSummary.deliveryCharge | currency: 'INR'}}</strong>
								</ion-col>
								<ion-col col-6 style="text-align: end;">
									Status: <strong>{{summary.orderSummary.status }}</strong>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col>
									Delivery Location: <i>{{summary.customerDeliveryInfo.deliveryLocation}}</i>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col>
									Nearest Landmark:<i>{{summary.customerDeliveryInfo.landmark}}</i>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col>
									Contact No:<i>{{summary.customerDeliveryInfo.contactNo}}</i>
								</ion-col>
							</ion-row>
							<hr class="card-footer" />
							<ion-row class="text-center">
								<ion-col col-4 style="text-align: left;">
									Product Name
								</ion-col>
								<ion-col col-3>
									Price
								</ion-col>
								<ion-col col-3>
									Qty
								</ion-col>
								<ion-col col-2>
									Total
								</ion-col>
							</ion-row>
							<hr class="card-footer" />
							<div>
								<div *ngFor="let orderItem of summary.orderItems">
								<ion-row>
									<ion-col col-4>
										{{orderItem.name}}
									</ion-col>
									<ion-col col-3>
										{{orderItem.pricePerQuantity | currency : 'INR'}}
									</ion-col>
									<ion-col col-3>
			
										{{orderItem.quantity }}
			
									</ion-col>
									<ion-col col-2>
										{{orderItem.totalPrice | currency : 'INR'}}
									</ion-col>
			
								</ion-row>
								<hr class="hr-divider" />
							</div>
								
							
							</div>
							<ion-row>
								<ion-col col-6>
									Sub Total
								</ion-col>
								<ion-col col style="font-weight:Bold;text-align: end;">
									{{summary.orderSummary.totalOrderValue | currency: 'INR' }}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-6>
									
								</ion-col>
								<ion-col col style="font-weight:Bold;text-align: end;">
									+
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-6>
									Delivery Charge
								</ion-col>
								<ion-col col style="font-weight:Bold;text-align: end;">
									{{summary.orderSummary.deliveryCharge | currency: 'INR' }}
								</ion-col>
							</ion-row>
							
							<ion-row>
								<ion-col col-6>
									Net Total
								</ion-col>
								<ion-col col style="font-weight:Bold;text-align: end;">
									{{summary.orderSummary.totalOrderValue+summary.orderSummary.deliveryCharge | currency: 'INR' }}
								</ion-col>
							</ion-row>
							<hr class="card-footer" />
							<ion-row>
								<ion-col style="text-align: left;">
									<u> Comments</u>:<i>{{summary.orderSummary.reason  }} </i>
								</ion-col>
							</ion-row>
			
						</ion-grid>
					</ion-card-content>
				
				</div>
		
				</ion-card>
				<div *ngIf="segmentValue=='recent'" class="no-orders-div">

						<ion-card *ngIf="!isRecentOrdersAvailable">
							<ion-card-header color="crimson">
							<span style="color:white">View Orders </span>  <ion-icon name="alert"></ion-icon>
							</ion-card-header>
							<ion-card-content>
								<ion-label><strong> No orders today.
									</strong> </ion-label>
							</ion-card-content>
						</ion-card>
					
				</div>
			
				<div *ngIf="segmentValue=='history'" class="no-orders-div">

					<ion-card *ngIf="!isHistoryOrdersAvailable">
						<ion-card-header color="crimson">
							<span style="color:white">View Orders </span> <ion-icon name="alert"></ion-icon>
						</ion-card-header>
						<ion-card-content>
							<ion-label><strong> No History orders to display.
								</strong> </ion-label>
						</ion-card-content>
					</ion-card>
				
			</div>
			</div>
		
			</div>
		</div>

		<ng-template #loadingErrorTemplate>
			<div class="spin"> <ion-spinner name="bubbles"></ion-spinner>
			  </div>
			  
		  </ng-template>
		  </ion-content>





<ng-template #showMessage>
	<ion-header translucent="true">
		<ion-toolbar color="crimson">
		 Orders
		</ion-toolbar>
	  </ion-header>

	  <ion-content class="card-background-page">
		<ion-card>
			<ion-card-header color="crimson">
				<span style="color:white">View Orders </span>  <ion-icon name="alert"></ion-icon>
			</ion-card-header>
			<ion-card-content>
				<ion-label><strong>Please login to view orders
					</strong> </ion-label>
			</ion-card-content>
		</ion-card>
		</ion-content>

</ng-template>
