<ion-app [class.dark-theme]="dark">

  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            Pnk Shopping
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="app/tabs/market" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" name="earth-outline"></ion-icon>
              <ion-label>
               Market Place
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app/tabs/login" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/app/tabs/myorder" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="documents-outline"></ion-icon>
            <ion-label>
              Orders
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle autoHide="false">

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-label>
              Dark Mode
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>


      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
