
<ion-header translucent="true">
  <ion-toolbar color="crimson">
   Account
  </ion-toolbar>
</ion-header>

<ion-content>
  <firebase-ui  (signInSuccessWithAuthResult)="successCallback($event)"
  (signInFailure)="errorCallback($event)"
  (uiShown)="uiShownCallback()">
</firebase-ui>
<div *ngIf="isLoggedIn">
<ion-card >
  
  <ion-card-header class="card-header">Account Information</ion-card-header>
  <ion-card-content>
    <form [formGroup]="accountInfoForm" (ngSubmit)="submit(accountInfoForm.value)">
      <ion-input   formControlName="customerId"  hidden></ion-input>
    <ion-item>
      <ion-label  color="crimson" position="stacked">Name(*)</ion-label>
      <ion-input      placeholder="enter your name"   formControlName="name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="crimson" position="stacked">Phone Number(*)</ion-label>
      <ion-input     formControlName="phoneNumber"  ></ion-input>   <!--not updating phone number for now-->
    </ion-item>
    <ion-item>
      <ion-label color="crimson" position="stacked">Address(*)</ion-label>
      <ion-textarea    placeholder="enter your address"  formControlName="address" ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="crimson" position="stacked">Landmark(*)</ion-label>
      <ion-input    placeholder="enter nearest landmark"   formControlName="landmark" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="crimson" position="stacked">Postal Code(*)</ion-label>
      <ion-input     placeholder="enter your area's postal code"     type="number" formControlName="postCode" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  color="crimson" position="stacked">Alternative Contact</ion-label>
      <ion-input  placeholder="enter alternative contact no"    type="number" formControlName="alternativeContact" ></ion-input>
    </ion-item>
    <div class="logOut">
    <ion-button color="crimson" fill="outline"  *ngIf="showEdit" round (click)="editDetails();showUpdate=true;showEdit=false;">
      <ion-icon name="create"></ion-icon>Edit</ion-button>
      <div  *ngIf="showUpdate">

      <ion-button color="crimson" fill="outline" type="submit"  [disabled]="accountInfoForm.invalid" round >
        <ion-icon name="create"></ion-icon>Update</ion-button>

        <ion-button color="crimson" fill="outline" type="button"  round (click)="cancel();showEdit=true;showUpdate=false">
          <ion-icon name="create"></ion-icon>Cancel</ion-button>
      </div>
      
</div>
    </form>
  </ion-card-content>
  </ion-card>
  
  
</div>
<div *ngIf="loading$ |  async as spinLoader">
  <div *ngIf="spinLoader" class="spin">
    <ion-spinner   name="bubbles" >

    </ion-spinner>
  </div>

</div>
<div *ngIf="isLoggedIn">
  <ion-card>
    <ion-card-header>Notification <ion-icon name="notifications-outline"></ion-icon></ion-card-header>
    <ion-card-content>
  <ion-label>
    Pleasse enable notification for getting latest updates on your order.
  </ion-label>
  <p style="text-align: center;">
    <ion-button color="crimson" fill="outline" round (click)="presentRequestNotificationPermissionAlert()" > <ion-icon name="notifications"></ion-icon>Enable </ion-button>
  </p>
  
    </ion-card-content>
  </ion-card>

<div class="logOut">
  <ion-card>
    <ion-card-content>
      <ion-button color="crimson"  fill="outline" round  (click)="logOutButtonClicked()">
        <ion-icon name="log-out"></ion-icon>Logout</ion-button>
    </ion-card-content>
  </ion-card>
  
</div>
</div>
</ion-content>
