//page-product-list {
  .card-background-page {

    color:white;
  
    .newprice {
      text-align: end;
    }
    .cart-button {
      background-color: crimson;
      color: white;
    }
    .stockin {
      background-color: crimson;
      color: rgb(247, 244, 244);
    }
    .out-stock {
      opacity: 0.5;
    }
    .col-end-align {
      text-align: end;
    }
  }
ion-toolbar
{
    color:white;
}
.spin
{
  position:fixed;
  left:50%;
  top:50%;
}
.product-card
{
  margin:0;
border:2px solid white;
background-color: white;

}
.ripple-parent
{
  position: relative;
  overflow: hidden;
}

//}
ion-content{

  --ion-background-color:crimson;
}