<!--
  Generated template for the ShoplistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar color="crimson">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
   <ion-title>
      Shop List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <div *ngIf="shopListObservable | async as sList; else loadingErrorTemplate">
 <div *ngFor="let shop of sList ">
    <ion-card [routerLink]="['/app/tabs/market/product-category-list',shop.storeCode]">
      <ion-card-header>
        <ion-card-title> {{shop.name}}</ion-card-title>
        <ion-card-subtitle>
          <ion-note>
            <ion-icon name="location"></ion-icon>
            {{shop.location}}
          </ion-note>
        </ion-card-subtitle>
      </ion-card-header>
      <ng-container
        *ngIf="shop.tileImageUrl!=null; then customImage;else defaultImage"
      ></ng-container>
      <ng-template #customImage>
        <img [src]="shop.tileImageUrl" />
      </ng-template>
      <ng-template #defaultImage>
        <ng-container *ngIf="shop.categorCode=='fdrst'; then superMarketImage; else restImage">

        </ng-container>
      <ng-template #superMarketImage>
        <img
        src="../../../assets/img/supermarket.jpg"
        />
      </ng-template>
      <ng-template #restImage>
        <img
        src="../../../assets/img/foodRestTile.jpg"
        />
      </ng-template>
      </ng-template>

      <ion-card-content>
        {{shop.description}}
      </ion-card-content>
     <ion-grid>
      <ion-row>
        <ion-col col-4 size="4">
          <ion-chip color="crimson">
            <ion-icon name="bicycle"></ion-icon>
            <ion-label >{{shop.deliverySpeed}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col col-4 size="4">
        <ion-chip color="crimson">
          <ion-icon name="alarm"></ion-icon>
          <ion-label >{{shop.operationHours}}</ion-label>
        </ion-chip>
        </ion-col>
        <ion-col  col-4 size="4">
          <ion-chip color="crimson">
            <ion-icon name="call"></ion-icon>
            <ion-label >  {{shop.shopContactNumber1}}</ion-label>
        </ion-chip>
        </ion-col>

        <div *ngIf="shop.deliveryOrderConfig">
          <ion-chip color="crimson">
            <ion-icon name="pricetag"></ion-icon>      <ion-label >   DeliveryCharge:{{shop.deliveryOrderConfig.deliveryCharge |currency:'INR' }}</ion-label>
          </ion-chip>
          <ion-chip color="crimson">
            <ion-icon name="pricetag"></ion-icon>  <ion-label >minimumOrder:{{shop.deliveryOrderConfig.minimumOrderValue| currency:'INR'}}</ion-label>
          </ion-chip>
        </div>
    
        <ion-chip color="crimson">
          <ion-icon name="location"></ion-icon>
          <ion-label *ngFor="let area of shop.serviceArea ">
          {{area.cityName}},
      </ion-label>
        </ion-chip>
      </ion-row>
     </ion-grid>
      
    </ion-card>
  </div>
</div>
<ng-template #loadingErrorTemplate>
  <div class="spin"> <ion-spinner name="bubbles"></ion-spinner>
    </div>
    
</ng-template>
</ion-content>
