<!--
  Generated template for the ShoplistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar color="crimson">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
   <ion-title>
      Shop List
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="card-background-page" style="background-color: crimson;">
  <ng-template #loadingErrorTemplate>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>

  <div *ngIf="shopListObservable | async as sList; else loadingErrorTemplate" >
 <div *ngFor="let shop of sList ">
    <ion-card matRipple [matRippleColor]="crimson"  [routerLink]="['/app/tabs/market/product-category-list',shop.storeCode,shop.name]" class="ion-activatable ripple-parent shop-card">
      <!-- <ion-ripple-effect></ion-ripple-effect> -->
      <ion-card-header>
        <ion-card-title> {{shop.name}}</ion-card-title>
        <ion-card-subtitle>
          <ion-note>
            <ion-icon name="location"></ion-icon>
            {{shop.location}}
          </ion-note>
        </ion-card-subtitle>
      </ion-card-header>
      <ng-container
        *ngIf="shop.tileImageUrl!=null; then customImage;else defaultImage"
      ></ng-container>
      <ng-template #customImage>
        <ng-container  *ngIf="shop.categoryCode=='suprmrkt'">
          <ion-img class="img"  [url]="shop.tileImageUrl" [customCache]="{fallbackUrl: '../../../assets/img/supermarket.jpg'}" alt="Shop-image"></ion-img>
        </ng-container>
        <ng-container *ngIf="shop.categoryCode=='fdrst'">
          <ion-img class="img"  [url]="shop.tileImageUrl" [customCache]="{fallbackUrl: '../../../assets/img/foodRestTile.jpg'}" alt="Shop-image"> </ion-img>
        </ng-container>
      </ng-template>
      <ng-template #defaultImage>
        <ng-container *ngIf="shop.categoryCode=='fdrst'">
          <img
    src="../../../assets/img/foodRestTile.jpg"
    />
         
        </ng-container>
   <ng-container  *ngIf="shop.categoryCode=='suprmrkt'">
    <img
          src="../../../assets/img/supermarket.jpg"
          />
   </ng-container>
     
      </ng-template>

      <ion-card-content>
        {{shop.description}}
      </ion-card-content>
     <ion-grid>
      <ion-row>
        <ion-col col-4 size="4">
          <ion-chip color="crimson">
            <ion-icon name="bicycle"></ion-icon>
            <ion-label >{{shop.deliverySpeed}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col col-4 size="4">
        <ion-chip color="crimson">
          <ion-icon name="alarm"></ion-icon>
          <ion-label >{{shop.operationHours}}</ion-label>
        </ion-chip>
        </ion-col>
        <ion-col  col-4 size="4">
          <ion-chip color="crimson">
            <ion-icon name="call"></ion-icon>
            <ion-label >  {{shop.shopContactNumber1}}</ion-label>
        </ion-chip>
        </ion-col>

        <div *ngIf="shop.deliveryOrderConfig">
          <ion-chip color="crimson">
            <ion-icon name="pricetag"></ion-icon><ion-label >   DeliveryCharge:{{shop.deliveryOrderConfig.deliveryCharge |currency:'INR' }}</ion-label>
          </ion-chip>
          <ion-chip color="crimson">
            <ion-icon name="pricetag"></ion-icon>  <ion-label >minimumOrder:{{shop.deliveryOrderConfig.minimumOrderValue| currency:'INR'}}</ion-label>
          </ion-chip>
          <ion-chip color="crimson">
            <ion-icon name="logo-paypal"></ion-icon>  <ion-label >{{shop.deliveryOrderConfig.paymentMode}}</ion-label>
          </ion-chip>
          <ion-chip color="crimson">
            <ion-icon name="location"></ion-icon>
            <ion-label *ngFor="let area of shop.serviceArea ">
            {{area.cityName}},
        </ion-label>
          </ion-chip>
        </div>
    
       
      </ion-row>
     </ion-grid>
      
    </ion-card>
  </div>
</div>


<ng-template #loadingErrorTemplate>
  <mat-progress-bar mode="query" [color]="crimson"></mat-progress-bar>
  <!-- <div class="spin"> <ion-spinner name="bubbles"></ion-spinner>
    </div> -->
    
</ng-template>
</ion-content>

