<ion-header>
  <ion-toolbar color="crimson">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   <ion-title>
      My Basket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="basket-content">
	<ng-container *ngIf="basketItems.items == undefined || basketItems.items.length==0;then emptyCart;else itemCart;">

	</ng-container>

	<ng-template #emptyCart>
		Your cart is empty. Please add product into your cart.
	</ng-template>
	<ng-template #itemCart>
		<ion-grid class="text-center">
			<ion-row class="text-center">
				<ion-col col-3>
					Product Name
				</ion-col>
				<ion-col col-3>
					Price
				</ion-col>
				<ion-col col-3>
					Qty
				</ion-col>
				<ion-col col-2>
					Total
				</ion-col>
        <ion-col col-1>
        </ion-col>
			</ion-row>
			<hr class="hr-divider" />
			<div *ngFor="let item of basketItems.items">
				<ion-row>
					<ion-col>
						<img
                  src="https://firebasestorage.googleapis.com/v0/b/pnkshop-adb8e.appspot.com/o/supermarket%2Fproduct_category.png?alt=media&token=58b70048-1047-412c-9ca2-43961c347ebd"
                />
    </ion-col>
						<ion-col>
							{{item.name}}
						</ion-col>
						<ion-col col-3>
							Rs.{{item.pricePerQuantity}}
						</ion-col>
						<ion-col col-3>
							<ion-row>
								<ion-col >
									qty:{{item.quantity}}
								</ion-col>
								<ion-col>
									<ion-row>
										<ion-icon name="add-circle" style="margin-bottom:8px;"
											(click)="addQuantity(item)">
										</ion-icon>
									</ion-row>
									<ion-row>
										<ion-icon name="remove-circle" (click)="removeQuantity(item)"></ion-icon>
									</ion-row>
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col col-2>
							{{item.totalPrice}}
							
						</ion-col>
            <ion-col col-1>
              <ion-icon name="trash" (click)="removeEntireProduct(item)"></ion-icon>
            </ion-col>

				</ion-row>

				<hr class="hr-divider" />
			</div>
			<ion-row>
				<ion-col col-6>
					Total
				</ion-col>
				<ion-col col style="font-weight:Bold">
					Rs.{{basketTotalAmount}}.00
				</ion-col>
				<ion-col col-1>
				</ion-col>
			</ion-row>
		</ion-grid>
<div class="row">
   <div class="col text-center">
		<button ion-button round class="order-now"> Order Now</button>
   </div>
</div>
	</ng-template>
</ion-content>