.basket-content
{
  background-color: crimson;
  color:white;

 .hr-divider
 {
   border-top: 2px solid white;
    width: 800px;
 }
.order-now
{
  background-color: white;
  color:crimson;
  font-weight: bold;
  text-align: right;
}
.text-center
{
  text-align: center;
}
}