.basket-content
{
  background-color: crimson;
  color:white;
}
 .hr-divider
 {
   border-top: 2px solid crimson;
    width: 800px;
 }
.order-now
{
  color:white;
  font-weight: bold;
}
.text-center
{
  text-align: center;
}

ion-card-header
{
  background-color: #b94545;
  color:white;
}

ion-toolbar
{
    color:white;
}