
<ion-header>
	<ion-toolbar color="crimson">
	  <ion-buttons slot="start">
		<ion-button (click)="backButton()"><ion-icon name="arrow-back"></ion-icon></ion-button>
	  </ion-buttons>
	 <ion-title>
	My Basket
	  </ion-title>
	</ion-toolbar>
  </ion-header>

<ion-content class="basket-content">
	<div *ngIf="basketItems">
	<ion-card>
		<ion-card-header class="card-header">Cart Summary</ion-card-header>

			<ion-grid class="text-center">
				<ion-row class="text-center">
					<ion-col col-3>
						Product Name
					</ion-col>
					<ion-col col-3>
						Price
					</ion-col>
					<ion-col col-3>
						Qty
					</ion-col>
					<ion-col col-2>
						Total
					</ion-col>
			<ion-col col-1>
			</ion-col>
				</ion-row>
				<hr class="hr-divider" />
				<div *ngFor="let item of basketItems.items">
					<ion-row>
						<ion-col>
							<ng-container *ngIf="item.productImageUrl != null; then customImage;else defaultImage">
							</ng-container>
							<ng-template #customImage>
								<img [src]="item.productImageUrl" />
			  </ng-template>
								<ng-template #defaultImage>
									<img
				  src="../../../assets/img/default.jpg"
				/>
			  </ng-template>
				 
		</ion-col>
							<ion-col>
								{{item.name}}
							</ion-col>
							<ion-col col-3>
								{{item.pricePerQuantity  | currency:'INR'}}
							</ion-col>
							<ion-col col-3>
								<ion-row>
									<ion-col >
										qty:{{item.quantity}}
									</ion-col>
									<ion-col>
										<ion-row>
											<ion-icon name="add-circle" style="margin-bottom:8px;"
												(click)="addQuantity(item)">
											</ion-icon>
										</ion-row>
										<ion-row>
											<ion-icon name="remove-circle" (click)="removeQuantity(item)"></ion-icon>
										</ion-row>
									</ion-col>
								</ion-row>
							</ion-col>
							<ion-col col-2>
								{{item.totalPrice  | currency:'INR'}}
								
							</ion-col>
				<ion-col col-1>
				  <ion-icon name="trash" (click)="removeEntireProduct(item)"></ion-icon>
				</ion-col>
	
					</ion-row>
	
					<hr class="hr-divider" />
				</div>
				<ion-row>
					<ion-col col-6>
						Total
					</ion-col>
					<ion-col col style="font-weight:Bold">
				   {{basketTotalAmount | currency:'INR'}}
					</ion-col>
					<ion-col col-1>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
					
					</ion-col>
					<ion-col col style="font-weight:Bold">
				         +
					</ion-col>
					<ion-col col-1>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						Delivery fee
					</ion-col>
					<ion-col col style="font-weight:Bold">
							{{basketItems.deliveryOrderConfig.deliveryCharge | currency:'INR'}}
					
					</ion-col>
					<ion-col col-1>
					</ion-col>
				</ion-row>
			
				<ion-row>
					<ion-col col-6>
						Net Total
					</ion-col>
					<ion-col col style="font-weight:Bold">
				   {{(basketTotalAmount + basketItems.deliveryOrderConfig.deliveryCharge) | currency:'INR'}}
					</ion-col>
					<ion-col col-1>
					</ion-col>
				</ion-row>

			</ion-grid>

		


	<ng-template #emptyCart>
		Your cart is empty. Please add product into your cart.
	</ng-template>
	</ion-card>

	<ion-card >
		<ion-card-header class="card-header">Checkout 	<ion-icon name="checkmark-circle"></ion-icon></ion-card-header>
		<ion-card-content>
			<div  *ngIf="((basketTotalAmount + basketItems.deliveryOrderConfig.deliveryCharge) < basketItems.deliveryOrderConfig.minimumOrderValue); let lessTrue">
				<ion-chip color="crimson" >
					<ion-icon name="close-circle"></ion-icon>
					<ion-label>Minimum Order value : <strong> {{basketItems.deliveryOrderConfig.minimumOrderValue | currency :'INR'}} </strong></ion-label>
				</ion-chip>
               
            
			</div>
			<div *ngIf="(basketItems.totalItemsCount > basketItems.deliveryOrderConfig.maximumQuantity) let maxQuantityTrue">
				<ion-chip color="crimson" >
					<ion-icon name="close-circle"></ion-icon>
					<ion-label>Maximum Item Count : <strong> {{basketItems.deliveryOrderConfig.maximumQuantity }} </strong></ion-label>
				</ion-chip>
			   </div>
			<div *ngIf="((basketTotalAmount + basketItems.deliveryOrderConfig.deliveryCharge) > basketItems.deliveryOrderConfig.maximumOrderValue) let maxOrderTrue">
				<ion-chip color="crimson" >
					<ion-icon name="close-circle"></ion-icon>
					<ion-label>Maximum Order value : <strong> {{basketItems.deliveryOrderConfig.maximumOrderValue | currency :'INR'}} </strong></ion-label>
				</ion-chip>
			</div>
	
			<div *ngIf="((basketTotalAmount + basketItems.deliveryOrderConfig.deliveryCharge) > basketItems.deliveryOrderConfig.minimumOrderValue) 
				&& ((basketTotalAmount + basketItems.deliveryOrderConfig.deliveryCharge) < basketItems.deliveryOrderConfig.maximumOrderValue)
			">

		    <ng-container *ngIf="isLoggedIn; then showOrderNow; else showLogin">

			</ng-container>
			<ng-template #showOrderNow>
				<div class="text-center" *ngIf="showOrderNowButton">
					<!-- check customer postal code and shop service area postal code-->
					<div *ngIf="isServiceAvailable">
						<ion-button class="order-now" fill="outline" *ngIf="isServiceAvailable=='true'" round color="crimson" (click)="createOrderButtonClicked()"> Order Now</ion-button>
					    <ion-card  *ngIf="isServiceAvailable=='false'">
							<ion-card-header color="crimson">
							 No Service  <ion-icon name="alert"></ion-icon>
							</ion-card-header>
							<ion-card-content>
								<ion-label><strong>Sorry this store doesn't have delivery service at your pincode. 
									We are expanding our service, soon we will cover your location.</strong> </ion-label>
									<p><ion-label>
										Please click below button to update your pincode.
									</ion-label>
								</p>
									<p>
										<ion-button color="crimson" fill="outline" round routerLink="/app/tabs/login" >Update pinCode</ion-button>
									</p>
							</ion-card-content>
						</ion-card>
					</div>
					<ng-template #noService>
						<ion-spinner   name="bubbles" >

						</ion-spinner>
					</ng-template>
					
			   </div>
			</ng-template>
	<!--Below button should take the user to login -->		
		<ng-template #showLogin>
			<div class="text-center">
				<ion-button class="order-now" fill="outline" routerLink="/app/tabs/login" round color="crimson">Login to Check out </ion-button>
			</div>
		</ng-template>
		 
	</div>
		</ion-card-content>
	 </ion-card>
	
</div>

</ion-content>