ion-toolbar
{
    color:white;
}
.cat-name {
    background-color: crimson;
    font-weight: bold;
    color: white;
  }
  .spin
  {
    position:fixed;
    left:50%;
    top:50%;
  }

  ion-slides {
    height: 20%;
  }
  .slide-card
  {
    height:inherit;
    margin:0;
    border:1px solid crimson;
  }

  ion-slide
  {
    height:inherit;
  }