ion-toolbar
{
    color:white;
}
.cat-name {
    border: 1px solid crimson;
    background-color:white;
    font-weight: bold;
    color: crimson;
    text-align: center;
  }
  .spin
  {
    position:fixed;
    left:50%;
    top:50%;
  }

  ion-slides {
    height: 20%;
  }
  .slide-card
  {
    height:inherit;
    margin:0;
    border:1px solid crimson;
  }

  ion-slide
  {
    height:inherit;
  }
  .offer-zone-product-card
  {
margin:0;
border:2px solid crimson;

  }
  .ripple-parent
  {
    position: relative;
    overflow: hidden;
  }
  .offer-zone-product-card-parent,.grid-parent-card
  {
    background-color: crimson;
  } 

